<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Artist Archive API</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Arvo&family=Kumbh+Sans&display=swap"
      rel="stylesheet"
    />
    <link href="../public/assets/styles.css" rel="stylesheet" />
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>

  <body>
    <div class="content unauthorized">
      <div class="top">
        <h1>Hello there!</h1>
        <p>You are logged in. Browse our <a href="/api-docs">collection</a>.</p>
      </div>
      <div class="content-bottom">
        <a class="btn logout" href="/logout"> LOG OUT </a>
      </div>
    </div>
  </body>
</html>


